<!DOCTYPE html>
<html lang="en">
    <head>
        <title>WhatsTheWeather</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        
    </head>
    <body>
        <h1>What's The Weather?</h1>

        <div id="app">
            <select v-model="selected">
                        <option value="">Please select one</option>
                        <option v-for="cast in forecasts" :value="cast">{{cast.name}}</option>
            </select>
            <br>
            <strong>{{selected.name}}</strong>
            <br>
            {{selected.reports[0].validTime}}
            <br>
            Degrees: {{selected.reports[0].parameters[11].values[0]}} C
            <br>
            Wind speed: {{selected.reports[0].parameters[17].values[0]}} m/s
            <br>
            Precipitation: {{selected.reports[0].parameters[3].values[0]}} mm/h
            <br>
            <img :src="getImgUrl(selected.reports[0].parameters[18].values[0])" v-bind:alt="selected.reports[0].parameters[18].values[0]"> 
          </div>
          <script src="script.js"></script>
    </body>
</html>