<!DOCTYPE html>
<html lang="en">
    <head>
        <title>WhatsTheWeather</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        
    </head>
    <body>
        
        <div class="headerImage"> 
                <h1 style="font-size:100px">What's The Weather?</h1>
        </div>
        
        <div id="app">
            <div class="navbar">
                <nav>
                    <router-link to="/">Start</router-link>
                    <router-link to="/weather">Check the weather</router-link>
                    <router-link to="/about">About us</router-link>
                </nav>
            </div>
            <router-view></router-view>
            <!-- <br>
            <select v-model="selected">
                <option value="">Select a city</option>
                <option v-for="cast in forecasts" :value="cast">{{cast.name}}</option>
            </select>
            <br>
            <br>
                <select v-model="selectedHour">
                    <option value="">Select a time</option>
                    <option v-for="hour in hourForecasts" :value="hour">{{hour}}</option>
                </select>
            <br>
            <strong style="font-size:30px">{{selected.name}}</strong>
            <div v-if="typeof(selectedHour) === 'number'">
                <br>
                <img :src="getImgUrl(selected.reports[selectedHour].parameters[18].values[0])" v-bind:alt="selected.reports[selectedHour].parameters[18].values[0]">
                <br>
                <strong>{{formatTime(formatDate(selected.reports[selectedHour].validTime))}}</strong>
                <br>
                
                <table>
                    <tr>
                        <th>Degrees</th>
                        <th>Wind speed</th>
                        <th>Precipitation</th>
                    </tr>
                    <tr>
                        <td>{{selected.reports[selectedHour].parameters[1].values[0]}} C</td>
                        <td>{{selected.reports[selectedHour].parameters[11].values[0]}} m/s</td>
                        <td>{{selected.reports[selectedHour].parameters[12].values[0]}} - {{selected.reports[selectedHour].parameters[13].values[0]}}  mm/h</td>
                    </tr>
                </table>
                <br>
            </div> -->
        </div>
        
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
        <script src="script.js"></script>
    </body>
</html>